<footer class="footer">
  <div class="container" style="text-align:center;">
    <a href="https://instagram.com/" target="_blank">Instagram</a> |
    <a href="https://twitter.com/" target="_blank">Twitter</a> |
    <a href="https://tiktok.com/" target="_blank">TikTok</a>
  </div>
</footer>
