{{#if message}}
  <div class="alert alert-{{alertType}}" role="alert">
    {{ message }}
  </div>
{{/if}}

    {{!-- alert-primary: Blue
    alert-secondary: Gray
    alert-success: Green
    alert-danger: Red
    alert-warning: Yellow
    alert-info: Light blue
    alert-light: Light gray
    alert-dark: Dark gray --}}