<nav class="navbar">
  <div class="container">
    <h1 style="text-align:center;">Nomad</h1>
    <div class="user-icon" style="position:absolute; right:20px; top:15px;">
      <img src="" alt="User" style="width:40px; height:40px; border-radius:50%;">
    </div>
  </div>
</nav>
