<div class="sidebar" style="width:250px; position:absolute; left:0; top:0; bottom:0; background-color:rgba(0,0,0,0.5); color:white; padding:20px;">
  <ul>
    <li><a href="/flights">Flights</a></li>
    <li><a href="/hotels">Hotels</a></li>
    <li><a href="/activities">Activities</a></li>
  </ul>
</div>
