{{!-- {{> message}}
<body>
    <div class="container mt-5">
        <h2>Events</h2>
        {{#each events}}
            <div class="row">
                <div class="card">
                    
                </div>
            </div>
    </div>
</body> --}}