<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nomad Nexus</title>
     <style>
        /* Set full height for the columns */
        .full-height {
            height: 100vh; /* 100% viewport height */
        }
         /* Custom muted colors */
        .muted-blue {
            background-color:#EAEBE0 ; /* Use a muted blue color */
        }
        
        .muted-green {
            background-color: #C8D7D6; /* Use a muted green color */
        }
    </style>
    {{!-- <link rel="stylesheet" href="/13-5-Vacation-Planner/ProjectSourceCode/src/resources/css/style2.css"> --}}
</head>
{{> message}}
<body style="font-family: 'Arial', sans-serif; color: #333; padding: 20px; background-color: #C8D7D6; text-align: center;">
    {{#if user}}
        <h1 style="color: #333;">Welcome, {{user.first_name}}!</h1>
        <p style="margin-bottom: 30px;">Let's plan your next trip:</p>
        <form id="tripForm" action="/trip" method="post" style="display: inline-block; text-align: left; background-color: #fff; padding: 40px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); border-radius: 8px;">
            <!-- Radio buttons to toggle the form -->
            <div style="margin-bottom: 20px;">
                <input type="radio" id="choose" name="tripType" value="choose" checked onclick="toggleFormFields()">
                <label for="choose">I know where I want to go</label>
            </div>
            <div style="margin-bottom: 20px;">
                <input type="radio" id="recommend" name="tripType" value="recommend" onclick="toggleFormFields()">
                <label for="recommend">Recommend a destination</label>
            </div>

            <!-- Destination field -->
            <div id="destinationField" style="margin-bottom: 20px;">
                <label for="destination">Your Destination:</label>
                <input type="text" id="destination" name="destination" list="destinationList" required style="width: 100%; padding: 10px; border: 1px solid #ddd; border-radius: 4px;">
                <datalist id="destinationList"></datalist>
            </div>




            <!-- Travel dates field (shown in both cases) -->
            <div style="margin-bottom: 20px;">
                <label style="display: block; margin-bottom: 5px;">When will you be going?</label>
                <div style="display: flex; justify-content: space-between;">
                    <div style="flex-grow: 1; margin-right: 10px;">
                        <label for="startDate" style="display: block; margin-bottom: 5px;">Arrival:</label>
                        <input type="date" id="startDate" name="startDate" required style="width: 100%; padding: 10px; border: 1px solid #ddd; border-radius: 4px;" title="Arrival">
                    </div>
                    <div style="flex-grow: 1;">
                        <label for="endDate" style="display: block; margin-bottom: 5px;">Departure:</label>
                        <input type="date" id="endDate" name="endDate" required style="width: 100%; padding: 10px; border: 1px solid #ddd; border-radius: 4px;" title="Departure">
                    </div>
                </div>
            </div>

            <!-- Budget field (always shown) -->
            <div style="margin-bottom: 20px; position: relative;">
                <label for="budget" style="display: block; margin-bottom: 5px;">Your Budget ($):</label>
                <input type="number" id="budget" name="budget" value="0" required step="500" style="width: 100%; padding: 10px; border: 1px solid #ddd; border-radius: 4px;">
                <button type="button" onclick="incrementBudget()" style="position: absolute; right: 0; top: 50%; transform: translateY(-15%); width: 30px; height: 30px;">+</button>
                <button type="button" onclick="decrementBudget()" style="position: absolute; right: 30px; top: 50%; transform: translateY(-15%); width: 30px; height: 30px;">-</button>
            </div>


            <!-- Travel method field (shown in both cases) -->
            <div id="travelMethodField" style="margin-bottom: 20px;">
                <label for="travelMethod" style="display: block; margin-bottom: 5px;">Preferred Means of Travel:</label>
                <select id="travelMethod" name="travelMethod" required style="width: 100%; padding: 10px; border: 1px solid #ddd; border-radius: 4px;">
                    <option value="air">Air</option>
                    <option value="car">Car</option>
                    <option value="train">Train</option>
                    <option value="ship">Ship</option>
                </select>
            </div>

            <!-- Travel preferences field -->
            <div id="travelPreferences" style="margin-bottom: 20px;">
                <label style="display: block; margin-bottom: 5px;">What are your trip preferences?</label>
                <div>
                    <div style="margin-bottom: 10px;">
                        <input type="checkbox" id="mountains" name="tripPreferences" value="mountains">
                        <label for="mountains">Mountains</label>
                    </div>
                    <div style="margin-bottom: 10px;">
                        <input type="checkbox" id="beach" name="tripPreferences" value="beach">
                        <label for="beach">Beach</label>
                    </div>
                    <div style="margin-bottom: 10px;">
                        <input type="checkbox" id="city" name="tripPreferences" value="city">
                        <label for="city">City</label>
                    </div>
                    <div style="margin-bottom: 10px;">
                        <input type="checkbox" id="countryside" name="tripPreferences" value="countryside">
                        <label for="countryside">Countryside</label>
                    </div>
                    <div style="margin-bottom: 10px;">
                        <input type="checkbox" id="historicSites" name="tripPreferences" value="historicSites">
                        <label for="historicSites">Historic Sites</label>
                    </div>
                </div>
            </div>

            <!-- Submit button -->
            <button type="submit" style="background-color: #5cb85c; color: white; padding: 10px 20px; border: none; border-radius: 4px; cursor: pointer; width: 100%;">Plan Trip</button>
        </form>
    {{else}}
        <!-- index.hbs -->
<div class="container muted-green">
    <!-- First set of icons -->
    <div class="row">
        <div class="col-md-4 text-center mb-4">
            <i class="fas fa-music fa-3x"></i>
        </div>
        <div class="col-md-4 text-center mb-4">
            <i class="fas fa-film fa-3x"></i>
        </div>
        <div class="col-md-4 text-center mb-4">
            <i class="fas fa-paint-brush fa-3x"></i>
        </div>
    </div>
    <!-- Second set of icons -->
    <div class="row">
        <div class="col-md-4 text-center mb-4">
            <i class="fas fa-utensils fa-3x"></i>
        </div>
        <div class="col-md-4 text-center mb-4">
            <i class="fas fa-theater-masks fa-3x"></i>
        </div>
        <div class="col-md-4 text-center mb-4">
            <i class="fas fa-cocktail fa-3x"></i>
        </div>
    </div>
    <!-- Third set of icons -->
    <div class="row">
        <div class="col-md-4 text-center mb-4">
            <i class="fas fa-futbol fa-3x"></i>
        </div>
        <div class="col-md-4 text-center mb-4">
            <i class="fas fa-book-open fa-3x"></i>
        </div>
        <div class="col-md-4 text-center mb-4">
            <i class="fas fa-magic fa-3x"></i>
        </div>
    </div>
</div>
<div class="container">
    <!-- Fourth set of icons -->
    <div class="row muted-green">
        <div class="col-md-4 text-center mb-4">
            <i class="fas fa-plane fa-3x"></i>
        </div>
        <div class="col-md-4 text-center mb-4">
            <i class="fas fa-car fa-3x"></i>
        </div>
        <div class="col-md-4 text-center mb-4">
            <i class="fas fa-train fa-3x"></i>
        </div>
    </div>
    <!-- Fifth set of icons -->
    <div class="row muted-green">
        <div class="col-md-4 text-center mb-4">
            <i class="fas fa-bicycle fa-3x"></i>
        </div>
        <div class="col-md-4 text-center mb-4">
            <i class="fas fa-ship fa-3x"></i>
        </div>
        <div class="col-md-4 text-center mb-4">
            <i class="fas fa-bus fa-3x"></i>
        </div>
    </div>
    <!-- Sixth set of icons -->
    <div class="row muted-green">
        <div class="col-md-4 text-center mb-4">
            <i class="fas fa-hiking fa-3x"></i>
        </div>
        <div class="col-md-4 text-center mb-4">
            <i class="fas fa-camera fa-3x"></i>
        </div>
        <div class="col-md-4 text-center mb-4">
            <i class="fas fa-glass-cheers fa-3x"></i>
        </div>
    </div>
</div>
<div class="container muted-green">
    <!-- First set of icons -->
    <div class="row">
        <div class="col-md-4 text-center mb-4">
            <i class="fas fa-biking fa-3x"></i>
        </div>
        <div class="col-md-4 text-center mb-4">
            <i class="fas fa-shopping-cart fa-3x"></i>
        </div>
        <div class="col-md-4 text-center mb-4">
            <i class="fas fa-swimmer fa-3x"></i>
        </div>
    </div>
    <!-- Second set of icons -->
    <div class="row">
        <div class="col-md-4 text-center mb-4">
            <i class="fas fa-campground fa-3x"></i>
        </div>
        <div class="col-md-4 text-center mb-4">
            <i class="fas fa-camera-retro fa-3x"></i>
        </div>
        <div class="col-md-4 text-center mb-4">
            <i class="fas fa-coffee fa-3x"></i>
        </div>
    </div>
    <!-- Third set of icons -->
    <div class="row">
        <div class="col-md-4 text-center mb-4">
            <i class="fas fa-cocktail fa-3x"></i>
        </div>
        <div class="col-md-4 text-center mb-4">
            <i class="fas fa-globe-americas fa-3x"></i>
        </div>
        <div class="col-md-4 text-center mb-4">
            <i class="fas fa-hiking fa-3x"></i>
        </div>
    </div>
    <!-- Fourth set of icons -->
<div class="row">
    <div class="col-md-4 text-center mb-4">
        <i class="fas fa-umbrella-beach fa-3x"></i>
    </div>
    <div class="col-md-4 text-center mb-4">
        <i class="fas fa-film fa-3x"></i>
    </div>
    <div class="col-md-4 text-center mb-4">
        <i class="fas fa-running fa-3x"></i>
    </div>
</div>
<!-- Fifth set of icons -->
<div class="row">
    <div class="col-md-4 text-center mb-4">
        <i class="fas fa-bowling-ball fa-3x"></i>
    </div>
    <div class="col-md-4 text-center mb-4">
        <i class="fas fa-umbrella-beach fa-3x"></i>
    </div>
    <div class="col-md-4 text-center mb-4">
        <i class="fas fa-book fa-3x"></i>
    </div>
</div>
<!-- Sixth set of icons -->
<div class="row">
    <div class="col-md-4 text-center mb-4">
        <i class="fas fa-cocktail fa-3x"></i>
    </div>
    <div class="col-md-4 text-center mb-4">
        <i class="fas fa-star fa-3x"></i>
    </div>
    <div class="col-md-4 text-center mb-4">
        <i class="fas fa-moon fa-3x"></i>
    </div>
</div>
</div>
<!-- Add this at the end of your HTML body -->
<div class="overlay" style="position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 70%; max-width: 600px;">
  <div class="content" style="background-color: white; padding: 20px; border-radius: 10px;">
    <h1 style="text-align: center; font-size: 36px;">Welcome to the Nomad Nexus.</h1>
    <h6>To access personalized trip planning, please <a href="/login" style="color: #4a90e2; text-decoration: none;">login</a> or <a href="/register" style="color: #4a90e2; text-decoration: none;">register</a></h6>
  </div>
</div>


    {{!-- <div class="container-fluid p-0">
        <div class="row no-gutters">
            <!-- Left column with blue background -->
            <div class="col-md-6 muted-green full-height"style="border: 4px solid black;">
                <h2 class="text-center text-white">Experience the Nomad Nexus.</h2>
                <div class="container">
                <div class="row">
                    <div class="col-md-4">
                    <i class="fas fa-plane fa-5x"></i>
                    <p class="text-center"></p>
                    </div>
                    <div class="col-md-4">
                    <i class="fas fa-train fa-5x"></i>
                    <p class="text-center"></p>
                    </div>
                    <div class="col-md-4">
                    <i class="fas fa-bus fa-5x"></i>
                    <p class="text-center"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                    <i class="fas fa-car fa-5x"></i>
                    <p class="text-center"></p>
                    </div>
                    <div class="col-md-4">
                    <i class="fas fa-hotel fa-5x"></i>
                    <p class="text-center"></p>
                    </div>
                    <div class="col-md-4">
                    <i class="fas fa-ship fa-5x"></i>
                    <p class="text-center"></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                    <i class="fas fa-ticket-alt fa-5x"></i>
                    <p class="text-center"></p>
                    </div>
                    <div class="col-md-4">
                    <i class="fas fa-calendar-alt fa-5x"></i>
                    <p class="text-center"></p>
                    </div>
                    <div class="col-md-4">
                    <i class="fas fa-map-marker-alt fa-5x"></i>
                    <p class="text-center"></p>
                    </div>
                </div>
                </div>
            </div>
            <!-- Right column with green background -->
            <div class="col-md-6 muted-blue full-height"style="border: 4px solid black;">
                <h2 class="text-center text-white">Right Column</h2>
                 <p>To access personalized trip planning, please <a href="/login" style="color: #4a90e2; text-decoration: none;">login</a> or <a href="/register" style="color: #4a90e2; text-decoration: none;">register</a>.</p>
            </div>
        </div>
    </div>

       --}}

      
    {{/if}}
        <script type="text/javascript">
            function toggleFormFields() {
                var knowWhereToGo = document.getElementById('choose').checked;
                var destinationField = document.getElementById('destinationField');
                var travelMethodField = document.getElementById('travelMethodField');
                var travelPreferencesField = document.getElementById('travelPreferences');
                var destinationInput = document.getElementById('destination');

                if (knowWhereToGo) {
                    destinationField.style.display = '';
                    travelMethodField.style.display = '';
                    travelPreferencesField.style.display = 'none';
                    document.getElementById('budget').value = '0';
                    document.querySelectorAll('#travelPreferences input[type="checkbox"]').forEach(checkbox => {
                        checkbox.checked = false;
                    });
                    destinationInput.setAttribute('required', 'required');
                    destinationInput.value = '';
                } else {
                    destinationField.style.display = 'none';
                    travelMethodField.style.display = '';
                    travelPreferencesField.style.display = '';
                    document.getElementById('budget').value = '0';
                    travelPreferencesField.value = '';
                    destinationInput.removeAttribute('required'); 
                    destinationInput.value = '';
                }
                // Attach event listeners to radio buttons
                document.getElementById('choose').addEventListener('change', toggleFormFields);
                document.getElementById('recommend').addEventListener('change', toggleFormFields);
            }

            function setDepartureDate() {
                var arrivalDate = document.getElementById('startDate').value;
                var departureInput = document.getElementById('endDate');
                departureInput.min = arrivalDate;
                if (departureInput.value && arrivalDate > departureInput.value) {
                    departureInput.value = arrivalDate;
                }
            }

            function setMinStartDate() {
                var today = new Date().toISOString().split('T')[0];
                document.getElementById('startDate').min = today;
                document.getElementById('startDate').addEventListener('change', setDepartureDate);
            }

             // This function now only prepares the validation and does not display it
            function prepareValidation() {
                var firstPreferenceCheckbox = document.getElementById('mountains');
                var checkboxes = document.querySelectorAll('input[name="tripPreferences"]:checked');
                
                if (!document.getElementById('choose').checked && checkboxes.length === 0) {
                    firstPreferenceCheckbox.setCustomValidity('Please choose at least one trip preference');
                } else {
                    firstPreferenceCheckbox.setCustomValidity('');
                }
            }

            // The event listener for form submission
            document.getElementById('tripForm').addEventListener('submit', function(event) {
                prepareValidation(); // Prepare the validation first

                // Then display the validation message or clear it
                var isValid = document.getElementById('mountains').checkValidity();
                if (!isValid) {
                    event.preventDefault(); // Prevent form from submitting if not valid
                    document.getElementById('mountains').reportValidity();
                }
            });

            // Initialize on DOMContentLoaded
            document.addEventListener('DOMContentLoaded', function() {
                toggleFormFields(); // To set up the initial display state
                setMinStartDate();  // To ensure date fields are not set in the past
            });

            // Attach change event listeners to checkboxes to clear validation message when any is checked
            document.querySelectorAll('input[name="tripPreferences"]').forEach(function(checkbox) {
                checkbox.addEventListener('change', function() {
                    document.getElementById('mountains').setCustomValidity('');
                });
            });
            function incrementBudget() {
                var budgetInput = document.getElementById('budget');
                budgetInput.value = parseInt(budgetInput.value) + 500; // Increment by 500
            }

            function decrementBudget() {
                var budgetInput = document.getElementById('budget');
                var currentValue = parseInt(budgetInput.value);
                if (currentValue >= 500) { // Ensure it doesn't go below 0
                budgetInput.value = currentValue - 500; // Decrement by 500
                }
            }
            
            document.addEventListener('DOMContentLoaded', function() {
                const destinationInput = document.getElementById('destination');
                const dataList = document.getElementById('destinationList');

                // Clear datalist options
                function clearDataList() {
                    dataList.innerHTML = '';
                }

                destinationInput.addEventListener('input', function() {
                    const value = destinationInput.value;
                    if (value.length > 1) {
                        fetch(`/api/cities?q=${encodeURIComponent(value)}`)
                            .then(response => response.json())
                            .then(data => {
                                clearDataList(); // Clear previous options
                                data.forEach(cityName => {
                                    const option = document.createElement('option');
                                    option.value = cityName;
                                    dataList.appendChild(option);
                                });
                            })
                            .catch(error => console.error('Error fetching cities:', error));
                    } else {
                        clearDataList(); // Clear the list if under two characters
                    }
                });

                // Event to handle selection or clicking outside the input
                destinationInput.addEventListener('blur', function() {
                    setTimeout(clearDataList, 10); // Delay clear to ensure selection can be processed
                });

                // Ensure the datalist is cleared after a selection matches
                destinationInput.addEventListener('change', function() {
                    const currentInput = destinationInput.value;
                    let matchFound = false;
                    const options = dataList.options;
                    for (let i = 0; i < options.length; i++) {
                        if (options[i].value === currentInput) {
                            matchFound = true;
                            break;
                        }
                    }
                    if (matchFound) {
                        setTimeout(clearDataList, 10); // Delay clear to prevent immediate reappear
                    }
                });
            });


    // Event to clear the datalist when a selection is confirmed


    destinationInput.addEventListener('blur', function() {
        dataList.innerHTML = ''; // Clear the datalist when input loses focus
    });
        </script>
</body>
</html>
