{{> message}}
<body style="font-family: 'Arial', sans-serif; color: #333; padding: 20px; background-color: #C8D7D6;">
    <div class="container mt-4">
        <h4>What type of events would you like to attend in {{destination}}?</h4>
        <caption>Select all that apply</caption>
        <form action="/search_events" method="GET" id="user_form">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="music" id="music" name="music">
                <label class="form-check-label" for="concerts">
                    Music
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="sports" id="sports" name="sports">
                <label class="form-check-label" for="sports">
                    Sports
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="arts_theater" id="arts_theater" name="arts_theater">
                <label class="form-check-label" for="arts_theater">
                    Arts and Theater
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="family" id="family" name="family">
                <label class="form-check-label" for="family">
                    Family Events
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="miscellaneous" id="miscellaneous" name="miscellaneous">
                <label class="form-check-label" for="miscellaneous">
                    Miscellaneous
                </label>
            </div>
            <button class="btn btn-primary" type="submit">Find Events</button>
        </form>
    </div>
</body>